/*---------------------------------------------------
 # Global
---------------------------------------------------*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #111;
  font-size: 0.8125rem;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

/* Utility Classes */
.no-underline {
  text-decoration: none !important;
}

/* Buttons */
.btn {
  padding: 0 1.05em;
  font-weight: bold;
  border-radius: 0.2em;
  cursor: pointer;
  border-width: 1px;
  outline: none;
  line-height: 2.3;
}

.btn:hover,
.btn:active,
.btn:focus {
  text-decoration: none;
}

.btn:active {
  outline: 0;
}

.btn.btn--blue {
  background-color: #4386f0;
  background-image: linear-gradient(#4387fd, #4683ea);
  color: #fff;
  border-color: red;

  &:focus {
    background-color: #5997f8;
    background-image: none;
  }

  &:active {
    box-shadow: inset 0 0.18em 0 rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(#3c7ae4, #3f76d3);
  }
}

.btn.btn--grey {
  background-color: #f2f2f2;
  background-image: linear-gradient(#f5f5f5, #f1f1f1);
  color: #757575;
  border-color: #f2f2f2;
  padding: 0 1.2em;

  &:hover {
    background-color: #f8f8f8;
    background-image: linear-gradient(#f8f8f8, #f1f1f1);
    border-color: #c6c6c6;
    color: #222;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }

  &:focus {
    border-color: #4d90fe;
  }
}

/*---------------------------------------------------
 # Header
---------------------------------------------------*/
.header__nav {
  padding: 0.3em 1.9em;
  text-align: right;
}

.header__nav ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.header__nav li {
  display: inline-block;
  margin-left: 0.8em;
}

.header__nav a {
  text-decoration: none;
  display: block;

  &:hover,
  &:visited,
  &:active,
  &:focus {
    text-decoration: underline;
  }
}

.google-apps {
  background-image: url("images/icon-sprite.png");
  background-repeat: no-repeat;
  background-position: -132px -38px;
  background-size: 528px 68px;
  width: 30px;
  height: 30px;
  opacity: 0.55;
  transform: translateY(0.8em);
  padding: 0 1em;
  vertical-align: bottom;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

/*---------------------------------------------------
 # Main
---------------------------------------------------*/
.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
}

.main__logo {
  margin-bottom: 2em;
  max-width: 80%;
}

/*---------------------------------------------------
 # Search Form
---------------------------------------------------*/
.search {
  text-align: center;
  width: 90%;
  max-width: 428px;
}

.search__input-wrapper {
  display: flex;
  border: 0;
  /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); */
  box-shadow: 0 0.15em 0.2em 0 rgba(0, 0, 0, 0.16), 0 0 0 0.01em rgba(0, 0, 0, 0.8);
  padding: 0.7em 1em;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 0.125rem;
  transition: box-shadow 0.1s ease-in;
}

.search__input-wrapper--hover,
.search__input-wrapper--focus {
  /* box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); */
  box-shadow: 0 0.2em 0.8em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.05em rgba(0, 0, 0, 0.08);
}

.search__input {
  border: 0;
  margin-right: 1.1em;
  flex: 1 1 auto;
  outline: 0;
  font-size: 1rem;
  cursor: text;
  -webkit-appearance: none;
}

.search_mic {
  margin-left: auto;
  cursor: pointer;
  width: 2em;
  height: 2em;
}

.search input[type="submit"] {
  margin: 1em 0.15em;
}

/*---------------------------------------------------
 # Footer
---------------------------------------------------*/
.footer {
  position: absolute;
  bottom: 0;
  background-color: #f2f2f2;
  width: 100%;
  padding: 0 1.5rem;
}

.footer__location,
.footer__links {
  border-top: 1px solid #e4e4e4;
}

.footer__location {
  font-size: 0.9rem;
  line-height: 3.2;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;

  @media screen and (min-width: 30em) {
    text-align: left;
  }
}

.footer__links {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media screen and (min-width: 30em) {
    display: flex;
    flex-direction: row-reverse;
  }

  & a {
    line-height: 2.9;
    color: #666;

    &:hover,
    &:visited,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}

.footer__links-1,
.footer__links-2 {
  display: flex;
  text-align: center;
}

.footer__links-1 a {
  flex: 1;

  @media screen and (min-width: 30em) {
    margin-left: 1.8em;
  }
}

.footer__links-2 a {
  flex: 1;

  @media screen and (min-width: 30em) {
    margin-right: 1.8em;
  }
}
